@page "/login"
@layout MainLayout
@attribute [AllowAnonymous]
<EditForm Model="@_tokenRequest" OnValidSubmit="SubmitAsync">
    <FluentValidationValidator @ref="_fluentValidationValidator"/>
    <MudGrid Class="slide-top">
        <DataAnnotationsValidator />
        <MudItem xs="12">
            <div class="d-flex align-center justify-center">
                <MudText Typo="Typo.h4">Вход</MudText>
                <MudTooltip Text="Изменить адрес сервера">
                    <MudIconButton Size="Size.Small" Icon="@Icons.Filled.Settings" Class="ml-3 mt-2" OnClick="SetBaseAddressAsync" />
                </MudTooltip>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText>Нет аккаунта? <MudLink Href="/register">Регистрация</MudLink></MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
                          @bind-Value="_tokenRequest.Email" For="@(() => _tokenRequest.Email)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="Пароль" Variant="Variant.Outlined"
                          @bind-Value="_tokenRequest.Password" For="@(() => _tokenRequest.Password)"
                          InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" 
                          OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12">
            <MudButton ButtonType="ButtonType.Submit" 
            Variant="Variant.Filled" 
            Disabled="@(!Validated)" 
            Color="Color.Primary" 
            Size="Size.Large" Style="width: 100%;">Войти</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>